appdirs==1.4.4
bottle==0.12.25
build==1.2.1
buildozer==1.5.0
certifi==2024.7.4
charset-normalizer==3.3.2
colorama==0.4.6
Cython==0.29.33
distlib==0.3.8
docutils==0.21.2
filelock==3.15.4
idna==3.8
Jinja2==3.1.4
Kivy==2.3.0
Kivy-Garden==0.1.5
MarkupSafe==2.1.5
packaging==24.1
pexpect==4.9.0
platformdirs==4.2.2
proxy_tools==0.1.0
ptyprocess==0.7.0
Pygments==2.18.0
pyproject_hooks==1.1.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.14
PyQt5_sip==12.15.0
pywebview==5.2
requests==2.32.3
setuptools==72.1.0
sh==1.14.3
toml==0.10.2
typing_extensions==4.12.2
urllib3==2.2.2
virtualenv==20.26.3
wheel==0.43.0
